<!DOCTYPE html>
<html>
  <head>
    <title>Add Galaxy Users</title>
  </head>
  <body>
    <form action="/add">
    <label>Name:</label>
    <input name="name"></input>
    <br>

    <label>Species:</label>
    <input name="species"></input>

    <label>Ally:</label>
    <input name="ally"></input>
    </form>
  </body>
</html>
