<!DOCTYPE html>
<html>
  <head>
    <title>Our Code is Better</title>
  </head>
  <body>
    <form action="/add">
    <label>Belma and Ethan:</label>
    <input name="name"></input>
    <br>

    <label>Make THE BEST:</label>
    <input name="species"></input>
    <br>

    <label>Code:</label>
    <input name="ally"></input>
    </form>
  </body>
</html>
