<!DOCTYPE html>
<html>
  <head>
    <title>Talented Team Two, Totally Tasty, Tender and Tantalizing</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><a href="/profiles/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
  </body>
</html>
