<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h1>Dis da Header!</h1>
    <ul>
    {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}}
    <a href="/add-user">Add meh!</a>
    </ul>
  </body>
</html>
