<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>profiles</title>
</head>
<body>
<h1>Profile:</h1>

<h3>User: {{name}}</h3>
<p>Bio: {{bio}}</p>
<p><strong>See more: </strong><a href="www.example.com">{{url}}</a></p>
  
</body>
</html>